//constant variables

//font-family

$redHat_font:'Red Hat Text';
$magra_font:'Magra';
$aleo_font:'Aleo';


//colors

$button_color: #0D606F;
$brand: #F2785C;


//mixin
@mixin font-style($family, $style,$weight,$size,$line-height) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin btn-basic($width, $height, $background, $box-shadow, $border-radius, $color, $margin, $border){
  width: $width;
  height: $height;
  background: $background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  color: $color;
  margin: $margin;
  border:$border;
}